LitigationICS/ICS.Litigios.WebApp/obj/*
LitigationICS/ICS.Litigios.WebApp/Properties/*
LitigationICS/ICS.Litigios.WebApp/App_Data/*
LitigationICS/ICS.Litigios.WebApp/bin/*
LitigationICS/ICS.Litigios.WebApp/Properties/*
*.config
*/bin/*

LitigationICS/LitigationICS.BLL/bin/*
LitigationICS/LitigationICS.BLL/obj/*
LitigationICS/LitigationICS.BLL/Properties/*

LitigationICS/LitigationICS.DAL/bin/*
LitigationICS/LitigationICS.DAL/obj/*
LitigationICS/LitigationICS.DAL/Properties/*

LitigationICS/ICS.Litigios.Entities/bin/*
LitigationICS/ICS.Litigios.Entities/obj/*
LitigationICS/ICS.Litigios.Entities/Properties/*

LitigationICS/ICS.Litigios.Console/*
LitigationICS/ICS.Litigios.Console/bin/*
LitigationICS/ICS.Litigios.Console/obj/*
LitigationICS/ICS.Litigios.Console/Properties/*

LitigationICS/LitigationICS.Test/obj/*
LitigationICS/LitigationICS.Test/bin/*
LitigationICS/LitigationICS.Test/Properties/*

LitigationICS/MvcApplication1/*
LitigationICS/packages/*
LitigationICS/TestResults/*
LitigationICS/LitigationICS.v12.suo
